## Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

## Importing Data

In [2]:
from google.colab import files
uploaded=files.upload()

Saving Churn_Modelling.csv to Churn_Modelling.csv

### Part 1: Data Processing

In [3]:
dataset=pd.read_csv('Churn_Modelling.csv')

In [4]:
dataset.head()   ## for showing the content of table

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
x=dataset.iloc[:,3:-1]  #INPUT LAYER ## separating input layers and output layer. ## columns 0 to 2 are not feature, so they are not considered.
y=dataset.iloc[:,-1]   # OUTPUT LAYER

In [6]:
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [7]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [8]:
x=x.values
y=y.values

### Part2: Encoding Categorical Data

#### Label Encoding for 'Gender' Column

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
le=LabelEncoder()

In [11]:
x[:,2]=le.fit_transform(x[:,2])

#### One Hot Encoding for 'Geoghraphy' Column

In [12]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [13]:
ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[1])],remainder='passthrough')

In [14]:
x=ct.fit_transform(x)

### Part3: Scale the Features

### Feature Scalling

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
sc=StandardScaler()

In [17]:
x=sc.fit_transform(x)

### Part5: Splitting the Data

### Splitting the Dataset into Training set and Test set

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.2, random_state=0)

### Part5: Bulding the ANN

In [20]:
ann=tf.keras.models.Sequential()

#### Adding the input layer and First Hidden Layer

In [21]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu',))

#### Adding the second Hidden Layer

In [22]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu',))

#### Adding the Output Layer

In [23]:
ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid',))

### Part6: Training the ANN

#### Compiling the ANN

In [24]:
ann.compile(optimizer='adam' , loss='binary_crossentropy' , metrics=['accuracy'])

#### Training the ANN on Training Set

In [25]:
ann.fit(x_train,y_train,batch_size=32,epochs=100)

Epoch 1/100
250/250 [==============================] - 4s 4ms/step - loss: 0.6495 - accuracy: 0.6191
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4772 - accuracy: 0.7990
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4398 - accuracy: 0.8083
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4315 - accuracy: 0.8152
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4262 - accuracy: 0.8198
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4220 - accuracy: 0.8238
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4184 - accuracy: 0.8278
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4152 - accuracy: 0.8294
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4127 - accuracy: 0.8295
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4103 - accuracy: 0.8309
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4083 - accuracy: 0.8329
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4063 - accuracy: 0.8332
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4043 - accuracy: 0.8334
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4022 - accuracy: 0.8342
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3992 - accuracy: 0.8357
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3947 - accuracy: 0.8375
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3890 - accuracy: 0.8414
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3812 - accuracy: 0.8472
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3726 - accuracy: 0.8500
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3651 - accuracy: 0.8531
Epoch 21/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3598 - accuracy: 0.8544
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3557 - accuracy: 0.8525
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3528 - accuracy: 0.8537
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3504 - accuracy: 0.8530
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3482 - accuracy: 0.8533
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3462 - accuracy: 0.8555
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3450 - accuracy: 0.8549
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3439 - accuracy: 0.8555
Epoch 29/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3429 - accuracy: 0.8564
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3423 - accuracy: 0.8580
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3413 - accuracy: 0.8583
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3410 - accuracy: 0.8586
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3407 - accuracy: 0.8597
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3405 - accuracy: 0.8579
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3398 - accuracy: 0.8599
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3398 - accuracy: 0.8594
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3395 - accuracy: 0.8602
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3393 - accuracy: 0.8609
Epoch 39/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3390 - accuracy: 0.8608
Epoch 40/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3389 - accuracy: 0.8610
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3384 - accuracy: 0.8605
Epoch 42/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3383 - accuracy: 0.8611
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3382 - accuracy: 0.8609
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3381 - accuracy: 0.8622
Epoch 45/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3379 - accuracy: 0.8619
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3376 - accuracy: 0.8620
Epoch 47/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3374 - accuracy: 0.8625
Epoch 48/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3373 - accuracy: 0.8619
Epoch 49/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3371 - accuracy: 0.8604
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3368 - accuracy: 0.8622
Epoch 51/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3368 - accuracy: 0.8629
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3362 - accuracy: 0.8627
Epoch 53/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3371 - accuracy: 0.8629
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3364 - accuracy: 0.8633
Epoch 55/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3358 - accuracy: 0.8625
Epoch 56/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3365 - accuracy: 0.8620
Epoch 57/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3360 - accuracy: 0.8630
Epoch 58/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3359 - accuracy: 0.8639
Epoch 59/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3357 - accuracy: 0.8644
Epoch 60/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3357 - accuracy: 0.8646
Epoch 61/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3360 - accuracy: 0.8627
Epoch 62/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3356 - accuracy: 0.8640
Epoch 63/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3353 - accuracy: 0.8652
Epoch 64/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3353 - accuracy: 0.8637
Epoch 65/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3352 - accuracy: 0.8641
Epoch 66/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3352 - accuracy: 0.8639
Epoch 67/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3349 - accuracy: 0.8640
Epoch 68/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3353 - accuracy: 0.8639
Epoch 69/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3347 - accuracy: 0.8636
Epoch 70/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3347 - accuracy: 0.8634
Epoch 71/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3348 - accuracy: 0.8643
Epoch 72/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3345 - accuracy: 0.8637
Epoch 73/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3348 - accuracy: 0.8626
Epoch 74/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3346 - accuracy: 0.8633
Epoch 75/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3345 - accuracy: 0.8641
Epoch 76/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3348 - accuracy: 0.8650
Epoch 77/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3344 - accuracy: 0.8635
Epoch 78/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3342 - accuracy: 0.8631
Epoch 79/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3346 - accuracy: 0.8649
Epoch 80/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3342 - accuracy: 0.8635
Epoch 81/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3341 - accuracy: 0.8639
Epoch 82/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3338 - accuracy: 0.8625
Epoch 83/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3339 - accuracy: 0.8629
Epoch 84/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3337 - accuracy: 0.8640
Epoch 85/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3335 - accuracy: 0.8635
Epoch 86/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3338 - accuracy: 0.8637
Epoch 87/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3337 - accuracy: 0.8626
Epoch 88/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3336 - accuracy: 0.8639
Epoch 89/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3334 - accuracy: 0.8641
Epoch 90/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3339 - accuracy: 0.8650
Epoch 91/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3336 - accuracy: 0.8641
Epoch 92/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3333 - accuracy: 0.8645
Epoch 93/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3333 - accuracy: 0.8652
Epoch 94/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3331 - accuracy: 0.8635
Epoch 95/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3331 - accuracy: 0.8650
Epoch 96/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3332 - accuracy: 0.8640
Epoch 97/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3330 - accuracy: 0.8650
Epoch 98/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3329 - accuracy: 0.8637
Epoch 99/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3331 - accuracy: 0.8648
Epoch 100/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3329 - accuracy: 0.8639

### Part7: Making the Predictions and Evaluation the Model

##### use our ANN model to predict if the customer with the following informations will leave the bank: (the name of customer is for example: James)
##### Geography: France
##### Credit Score: 600
##### Gender: Male
##### Age: 40 years old
##### Tenure: 3 year
##### Balance: 60000 dollar
##### Number of Products: 2
##### Does this Customer have a credit card ? yes
##### Is this customer an Active Member: yes
##### Estimated Salary: $ 50000
##### So, should we say goodbye to that customer?

In [26]:
James=[1,0,0,600,1,40,3,60000,2,1,1,50000]

In [27]:
James=sc.transform([James])

In [28]:
ann.predict(James)

array([[0.03595044]], dtype=float32)

In [29]:
print (ann.predict(James)>0.5)

[[False]]

### Part8: Predicting the Test set Result

In [30]:
y_pred=ann.predict(x_test)
y_pred=(y_pred>0.5)
test=np.concatenate((y_pred.reshape(2000,1),y_test.reshape(2000,1)),1)

In [31]:
np.mean(np.abs(test[:,0]-test[:,1]))

0.1375

#### Confusion Matrix & Classification Report

In [32]:
from sklearn.metrics import classification_report, confusion_matrix

In [37]:
y_pred=ann.predict(x_test)
y_pred=(y_pred>0.5)
print (confusion_matrix(y_test,y_pred))

[[1513  193]
 [  82  212]]

In [36]:
print (classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.89      0.95      0.92      1595
           1       0.72      0.52      0.61       405

    accuracy                           0.86      2000
   macro avg       0.80      0.74      0.76      2000
weighted avg       0.85      0.86      0.85      2000

#### Accuracy Score Metrics

In [39]:
from sklearn.metrics import accuracy_score

In [40]:
accuracy_score(y_pred,y_test)

0.8625